/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { scroll-behavior: smooth; }

/* Body Styles */
body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  background-color: #085c95;
  color: #444;
  line-height: 1.6;
}

h1, h2, h3 {
  text-align: center;
  color: #007BFF;
}

/* Header */
.header, .navbar {
  background-color: #fff;
  color: #333;
  text-align: center;
  border-radius: 8px;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-bottom: 1px solid #ddd;
  font-family: Helvetica;
  line-height: 1.8;
}

/* NavBar Links */
.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10%;
  padding: 0;
  margin: 0;
}
.nav-links li { margin: 0; }
.nav-links a {
  color: #fff;
  background-color: #4CAF50;
  font-size: 1.2em;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.nav-links a:hover, .nav-links a:focus {
  background-color: #45a049;
  text-decoration: underline;
  box-shadow: 0 0 5px 2px rgba(72,153,77,0.6);
}

/* Responsive NavBar */
@media (max-width: 600px) {
  .navbar { padding: 15px 10px; text-align: left; }
  .nav-links { flex-direction: column; gap: 10px; margin-top: 20px; }
  .nav-links a { padding: 15px; font-size: 1em; width: 100%; text-align: center; }
}

/* Main Content */
main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

/* FAQ & General Paragraphs */
.faq-item, .general-paragraph, .picture-paragraph, .content-box {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 40px auto;
  max-width: 800px;
  padding: 20px;
  box-sizing: border-box;
}

.general-paragraph li { margin: 20px; padding: 10px; }
.general-paragraph li b { color: #007BFF; }
.general-paragraph li b:hover { text-decoration: underline; cursor: pointer; }
.general-paragraph h1 {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

/* Footer */
footer {
  text-align: center;
  padding: .1rem;
  background: #333;
  color: #fff;
  width: 100%;
  margin-top: 30px;
  position: relative;
}

/* Lists */
ol.top-level { padding: 20px; }

/* Links */
a { color: #007bff; text-decoration: none; }
a:hover { text-decoration: underline; }

/* Centered Content */
.centered-paragraph { text-align: center; color: white; padding: 25px; }

/* Buttons */
.back-to-home-button, .scroll-to-top-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background: #4CAF50;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: all 0.3s;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}
.back-to-home-button:hover, .scroll-to-top-button:hover {
  background: #419543;
  box-shadow: 0 6px 8px rgba(0,0,0,0.2);
  transform: scale(1.05);
}
.back-to-home-button:active, .scroll-to-top-button:active {
  background: #003f7f;
  box-shadow: 0 3px 4px rgba(0,0,0,0.2);
  transform: scale(0.98);
}

/* Images */
img { width: 100%; height: auto; }
.img-feature { width: 35%; }
.features-list { width: 75%; padding: 20px; }
.picture-paragraph {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: large;
}
.picture-paragraph img {
  max-width: 200px;
  height: auto;
  margin-right: 20px;
}
.picture-paragraph p {
  flex: 1;
  max-width: 700px;
  line-height: 1.6;
}

/* Content Box */
.content-box {
  display: flex;
  flex-direction: column;
  font-size: large;
}
.content-box img {
  max-width: 60%;
  border-radius: 8px;
  object-fit: cover;
  margin: 16px 0 16px 0;
  border: 3px solid #0078d4;
}
.content-box .text-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.content-box .text-content h2,
.content-box .text-content h3 {
  margin: 0;
  font-size: 1.75em;
  color: #333;
}
.content-box .text-content p {
  margin: 0;
  font-size: 1.1em;
  color: #555;
  line-height: 1.8;
}
.content-box .text-content ul {
  margin: 0;
  padding-left: 20px;
  list-style: disc;
  font-size: 1.1em;
  color: #555;
}
.content-box .text-content ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.content-box .text-content ul li img {
  max-width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 4px;
  object-fit: cover;
}

/* Responsive Content */
@media (max-width: 768px) {
  .tabs { flex-direction: column; }
  .side-menu { width: 250px; }
  section { margin: 10px; padding: 15px; }
  .content-box { padding: 30px; margin: 20px; }
  .content-box .text-content h2,
  .content-box .text-content h3 { font-size: 1.5em; }
  .content-box .text-content ul li img { max-width: 18px; height: 18px; }
  .content-box .text-content p,
  .content-box .text-content ul { font-size: 1em; }
  img { display: none; }
  body { margin: 5px; }
}